#welcome_text {
    font-size: 35pt;
    color: #C3392A;
}


#home {
    text-align: center;
    background-image: url('https://www.pexels.com/photo/people-inside-museum-700413/');
    background-repeat: no-repeat;
    background-size: cover;
}