{%extends 'base.html'%}



{% block content %}
{{block.super}}

<div class="container-fluid" id="home">
    <div >
        <div id="overlay" class="row">
    
            <div class="intro">
                <h1 id="welcome_text"> <strong>Welcome to Portraiture~phactory </strong></h1>
                
            </div>
        </div>
    </div>
</div>
<h1 class='text-center' style="font-style: italic; color: #C3392A"> <em>Arcade</em> </h1>
<div class="container-fluid" id="content">
    <div class="row p-4">
        {% for img in images%}
    <div class = "col-md-4" data-toggle ="modal" data-target="#showPictureModal{{img.id}}">
        <a href="{{img.id}}" data-toggle="modal" data-target="{{img.id}}">
            <img src="{{img.image.url}}" class="img-responsive" alt="{{img.image_name}}" style="width:100%;width:100%">
            <h5 class="text-center">{{img.image_name}}</h5>
        </a>
        <div class="modal fade" id="showPictureModal{{img.id}}" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="modalPictureTitle">{{img.image_name}}</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        
                        
                    </div>
                    <div class="modal-body">
                        <img src="{{img.image.url}}" class="img-responsive" alt="Image"
                            style="width:100%;max-width:100%">
                        <p class="text-justify">{{img.description}}</p>
                        <p class="text-left"><b>Location:</b> {{img.location}}</p>
                        <p class="text-left"><b>Category:</b> {{img.category}}</p>
                        <p>Date Uploaded:{{photo.pub_date}}</p>
                    
                    </div>

                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 padding-1">
                        <input id="{{img.id}}-url"  class="form-control input-md responsive" type="text"
                            value="{{img.image.url}}">
                    </div>

                    

                    <script>
                        function copyToClipboard() {
                            var copyText = document.getElementById("{{img.id}}-url");
                            copyText.select();
                            copyText.setSelectionRange(0, 99999)
                            document.execCommand("copy");
                            alert('url copied');
                        }
                    </script>
                

                    <div class="modal-footer">
                        <button type="button" onclick="copyToClipboard();">Copy</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
    {%endfor%}
    </div>
</div>

<footer class="footer">
    <p class="text-center"> <em>© Belinda Ntinyari 2022. All Rights Reserved</em></p>
</footer>
{% endblock %}