{%extends 'base.html'%}
{% load static %}
{% block content %}
<div class="container">

    <div class="row">
        {% if category%}
        <h3 class="text-center">Found {{ category|length }}</h3>
        <div class="container">
            <hr />
        </div>
        {% else %}
        <h3 class="text-center">Nothing for you here, kindly search again</h3>
        {% endif %}

    </div>

    <div class="row">
        {% for category in category %}
        <div class="col-md-3">
            <div>
                <img src="{{category.image.url}}" alt="{{category.image_name}}" id="search_img">
            </div>

        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}